.EasyPickCard {
  border-radius: 12px;
  display: flex;
  overflow: hidden;
  min-height: 152px;
  text-decoration: none;
  background-color: rgb(234, 245, 235);
  background-image: url('https://d2guulkeunn7d8.cloudfront.net/assets/home/use_case_tiles/grocery-canada-1dd95cf140499958e2c4c7aee38e45e523b0b5a4be5354f9b7fbbb7628024ce2.png');
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: contain;

  .details {
    padding: 16px;

    h2 {
      font-size: 21px;
      line-height: 24px;
      font-weight: unset;
      font-variation-settings: "wght" 663, "opsz" 8;
      color: rgb(52, 53, 56);
    }

    h3 {
      margin-top: 4px;
      font-size: 14px;
      line-height: 20px;
      font-weight: unset;
      font-variation-settings: "wght" 663, "opsz" 8;
      color: rgb(28, 125, 28);
    }

    .small {
      margin-top: 4px;
      font-size: 11px;
      line-height: 16px;
      font-weight: unset;
      font-variation-settings: "wght" 336, "opsz" 8;
      color: rgb(114, 118, 126);
    }

    ul {
      list-style: none;
      margin: 12px 0px 0px;
      padding: 0px;
      display: flex;
      -webkit-box-flex: 2;
      flex-grow: 2;
      position: relative;

      li {
        margin-left: -5px;

        img {
          max-width: 100%;
          transform: translate3d(0px, 0px, 0px);
          background: rgb(255, 255, 255);
          display: block;
          border-radius: 50%;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 2px;
        }

        &:first-child {
          margin: 0;
        }
      }
    }

    .badge {
      position: absolute;
      top: 0;
      font-size: 9px;
      border-radius: 16px;
      padding: 1px 4px 2px;
      border: 2px solid rgb(234, 245, 235);
      background-color: rgb(9, 98, 75);
      color: rgb(255, 255, 255);
    }
  }
}