.test {
  height: 100px;
  width: 100px;
  border: 1px solid red;
}

.insta-carousel {
  margin: 0 50px;

  // .slick-arrow.slick-prev {
  //   background: black;
  // }

  // .slick-arrow.slick-next {
  //   background: black;
  // }

  .slick-prev:before,
  .slick-next:before {
    font-size: 38px;
    line-height: 1;
    opacity: 1;
    // color: #1e1515;
    background-color: rgb(227, 221, 221);
    border-radius: 50%;
    // box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 16px
  }
}