@import '../../../App.scss';

.auth-form {
  h1 {
    margin-bottom: 10px;

  }

  .custom-line {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .custom-line .line {
    flex: 1;
    height: 1px;
    background: $grey;
  }

  .custom-line .or {
    background: #fff;
    padding: 0 10px;
    font-size: 18px;
    color: #333;
  }

  .dont-have {
    padding: 20px 0;
    border-top: 1px solid $grey;
    text-align: center;
    margin-top: 20px;

    h3 {
      color: $lightGreen;
      margin-top: 10px;
      cursor: pointer;
    }
  }
}