@import '../../App.scss';

.Home {
  padding-top: 30px;

  // .Home-shop-carousel {}

  .shop-cards-container {
    margin-top: 60px;

    .shop-cards-title {
      margin-bottom: 30px;

      .show-more-btn {
        width: calc(33% - 12px);
        min-width: 376px;
        border-radius: 8px;
        border: 0px;
        padding: 8px;
        font-size: 14px;
        line-height: 20px;
        font-variation-settings: "wght" 336, "opsz" 8;
        color: rgb(52, 53, 56);
        background-color: rgb(246, 247, 248);
        margin: auto;
        margin-top: 20px;

        svg {
          transform: rotate(90deg);
        }
      }
    }

    .shop-cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}