@import '../../../App.scss';

.Input {
  flex-direction: column;

  label,
  input {
    font-size: 16px;
  }

  input {
    border: 1px solid $grey;
    padding: 5px 8px;
    border-radius: 4px;
  }
}