@import '../../../App.scss';

.ShopPill {
  width: 100px;
  margin: auto;
  cursor: pointer;

  img {
    width: 100%;
    height: 100px;
    border: 1px solid $grey;
    padding: 3px;
    border-radius: 50%;
  }

  p {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 7px;
  }
}