.ShopCard {
  padding: 16px;
  border-radius: 8px;
  text-decoration: none;
  color: rgb(52, 53, 56);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 8px;
  cursor: pointer;

  .details {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 12px;
  }

  img {
    height: 48px;
    width: 48px;
    border-radius: 50%;
  }

  .detail {
    p {
      font-size: 15px;
      line-height: 20px;
      font-weight: unset;
      font-variation-settings: "wght" 663, "opsz" 8;
    }
  }
}