*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.d-flex {
  display: flex;
}
.d-flex-align {
  display: flex;
  align-items: center;
}

.d-flex-space-btwn{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.d-flex-column{
  display: flex;
  flex-direction: column;
}
.d-flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.gap-10{
  gap: 10px;
}

.gap-5{
  gap:5px;
}

.gap-15{
  gap: 15px;
}

.gap-20{
  gap: 20px;
}

.p{
  padding-left:30px;
  padding-right: 30px;
}

.pointer{
  cursor: pointer;
}

.b-500{
  font-weight: 500;
}

.container {
  max-width: 1224px;
  margin: auto;
}