@import '../../../App.scss';

.SearchBar {
  position: relative;

  input {
    padding: 18px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid $grey;
    font-size: 15px;

    &::placeholder {
      color: black;
    }
  }

  button {
    position: absolute;
    right: 12px;
    top: 55%;
    transform: translate(0, -50%);
  }
}